/* 
    Created on : 07-Apr-2014, 10:32:20
    Author     : James
*/

#content{
    /*Position block*/
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
    width: 40%;
    height: 70%;
    box-shadow: none;
}
#content label {
    float:left;
    width: 50%
}
#content input {
    float:left;
    width: 50%;
}
#content input textarea {
    max-width: 50%;
    max-height: 20px;
}