/* 
    Created on : 12-Mar-2014, 12:22:23
    Author     : James
*/

/*Style the footer container*/
#wrapperFooter 
{
    width:100%;
    bottom:0;
    height:10%;
    margin-top: 2.5%;
    border-top: 1px solid black;
    text-align: center;
}

/*Style Footer class and components*/
.footer{
    display: block-inline;
    text-align: center;
}
#left{
    width: 25%;
    float:left;
    margin-top: -10px;
}
#right{
    width: 25%;
    float:right;
    margin-top: -10px;
}
#right p {
    text-align: right;
    font-weight: bold;
}
#middle, #middleRegister{
    float: left;
    width: 50%;
}
#middle p {
    text-align: center;   
}
#middleRegister{
    margin-top: -10px;
    text-align: center;
}
