
/* 
    Created on : 10-Mar-2014, 17:00:57
    Author     : James
*/

#wrapperHeader{
    width:100%; 
    height:100px; /*Height of background image*/
    text-align:center;
    border-bottom: solid black;
    background-color: #0047CC;
    margin-top: -10px;
}
#wrapperHeader #header{
    width:100%;
    height:100px;
    margin:0 auto;
}

/*Set list style type*/
#header ul{
       
}
#wrapperHeader #header ul li{
    list-style: none;
    display:inline-block;
}
/*Set values for each box in header*/
#wrapperHeader #header li a
{
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #0048CC;
    float: left;
    margin-top: 15%;
    
}
#wrapperHeader #header img {
    width:25%;
    height:100px;
    margin-right:10px;
    float:left;
}


