
/* 
    Created on : 31-Jan-2014, 09:32:27
    Author     : James Graham
*/
h1{
}
#container{
    border: none;
    text-align: center;
}
#myProjects th, tr, td
{
    width:1%;
       height:20px;
    text-align:center;
    /*border: none;*/
}
#editP, #delP{
    background:transparent;
}

/*Set the properties of the button*/
#addP{
    
}
/*Set the size of the image in the button*/

