
/* 
    Created on : 31-Jan-2014, 09:32:27
    Author     : James Graham
*/
#myProjects th, tr, td
{
    width:1%;
    height:20px;
    text-align:center;
    /*border: none;*/
}

/*Set the properties of the button*/
.upper{
    margin: 0 auto;
    text-align: center;
}
#empty a{
    text-decoration: underline;
    color:blue;
}
#empty a:hover{
    background-color: #f1f1f1;
    color: #0085CC;
}
#empty a:visited{
    color:blue;
}
/*Set the size of the image in the button*/

