/*
 *  Namespace       : Include
 *  File name       : login 
 *  File extension  : css
 *  Author          : James Graham
 *  Description     : Administer inline styling to: 
 *                    /Include/System/View/login.php
 * 
 */    

 //Format introduction container holding title and introductory information
#intro
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
}

#intro h1
{
    text-transform : uppercase;
    text-align: center;
}

#login_div
{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    text-align:center;
}
#login_div p
{
    text-align: center;
}