/*
 *  Namespace       : Include
 *  File name       : login 
 *  File extension  : css
 *  Author          : James Graham
 *  Description     : Administer styling to: 
 *                    /Include/System/View/login.php
 * 
 */    

 //Format introduction container holding title and introductory information
#intro
{
    position: relative;
    width: 700px;
    margin: 0 auto;
    
    
}

#intro h1
{
    text-transform : uppercase;
    text-align: center;
}
#intro p{
    text-align: center;
}

#login_div
{
    position:relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 500px;
    
}
#login_div p
{
    text-align: center;
}