/* 
    Created on : 07-Apr-2014, 10:32:20
    Author     : James
*/

#content #details, #content #projDates {
    padding: 4px;
}
#content label {
    float:left;
    width: 50%
}
#content input[type=text],
#content input[type=date] {
    float:left;
    width: 50%;
    padding: 2px;
}


