/*
 *  Namespace       : Include
 *  File name       : register 
 *  File extension  : css
 *  Author          : James Graham
 *  Description     : Administer application styling to: 
 *                    /Include/System/View/registration.php
 * 
 */ 

.centralBox #content{
    /*Position block*/
    width: 50%;
}
input[type=text], input[type=password] {
    width: 80%;
    text-align:center;
}

.regInput{
    clear:both;
}
.error {
    background: #FFB2B2;
    border: solid 2px #FF0000;
}
#content span {
    color: red;
    padding-left: 5px;
}
#content #errMessage {
    color: red;
    font-weight:bold;
}

