/*
 *  Namespace       : Include
 *  File name       : register 
 *  File extension  : css
 *  Author          : James Graham
 *  Description     : Administer application styling to: 
 *                    /Include/System/View/registration.php
 * 
 */ 

.centralBox #content{
    /*Position block*/
    display: block;
    overflow: auto;
}
#content h1, #content #personal, #content #credentials {
    border-bottom: 1px solid #aaa;
}
 #content #personal, #content #credentials {
    padding-bottom: .75em;
}
#content #personal {
    padding-top: .75em;
}
#content #credentials {
    margin-top: -.75em;
}
.regInput input[type=text], .regInput input[type=password]{
    width: 75%;
    padding: 4px;
    margin-bottom: 2px;
}
#navigation{
     text-align: center;
     vertical-align: bottom;
}
#register input .error {
    background: #FFB2B2;
    border: solid 2px #FF0000;
}
#content span .error{
    color: red;
    font-weight: bold;
    padding-left: 10px;
}


