/*
 *  Namespace       : Include
 *  File name       : register 
 *  File extension  : css
 *  Author          : James Graham
 *  Description     : Administer application styling to: 
 *                    /Include/System/View/registration.php
 * 
 */ 

#personal h2{
    margin-bottom: 5%;
    text-align: center;
}
#content{
    /*Position block*/
    margin: 0 auto;
    height: 75%;
    text-align: left;
    width: 400px;
}
.regInput input[type=text], .regInput input[type=password]{
    display: inline-block;
    width: 200px;
    padding: 4px;
    margin: 0;
}
#navigation{
    margin-bottom: -10px;
    text-align: center;
}

span.error {
    color: red;
    padding-left: 8px;
    font-weight: bold;
}


