/* 
    Created on : 13-Mar-2014, 17:31:11
    Author     : James
*/
#showMsg{
    margin: 0 auto;
    width: 250px;
}
#showMsg p.error{
    text-align: center;
    color: crimson;
}
#showMsg p {
    text-align: center;
    color: green;
}


