
/* 
    Created on : 14-Mar-2014, 06:55:12
    Author     : James
*/

/* Upper boundary design (Start date, end date and up button)*/
.upper{
    text-align: center;
    margin-bottom: 20px;
}
.upper#start {
    float: left;
    font-weight: bold;
    color: green;
    margin-left: 20px;
}
.upper#end {
    float: right;
    font-weight: bold;
    color: red;
    margin-right: 20px;
}
.upper #up {
    margin-top: 20px;
    padding: 5px;
    background: none;
}

/*Content design*/
#content ul{
    list-style-type: none;
}
#content .infoTitle {
    float:left;
    text-align:right;
    width: 30%;
    clear:both;
}
#content .info {
    float:left;
    width: 60%;
    padding-left: 10px;
}
