
/* 
    Created on : 14-Mar-2014, 06:55:12
    Author     : James
*/

/* Upper boundary design (Start date, end date and up button)*/
.upper{
    text-align: center;
    margin-bottom: 20px;
}
.upper#start {
    float: left;
    font-weight: bold;
    color: green;
    margin-left: 20px;
}
.upper#end {
    float: right;
    font-weight: bold;
    color: red;
    margin-right: 20px;
}
.upper #up {
    margin-top: 20px;
    background: none;
}

/*Content design*/

#content {
    width:40%
}
#content h1{
    border-bottom: 1px solid #aaa;
}
#content li{
    list-style: none;
}
.infoTitle {
    float:left;
    text-align:right;
    width: 30%;
    clear:both;
}
.info {
    float:left;
    width: 60%;
    padding-left: 10px;
}
#content #taskDetails{
    padding-top: .75em;
}
#down {
    clear:both;
}
#actions {
    text-align: center;
    padding-top: 20px;
}
#actions #editT {
    margin: 10px;
    background: #f1f1f1;
}
#actions #delT {
    margin: 10px;
    background: #f1f1f1;
}
