/* 
    Created on : 07-Apr-2014, 10:32:20
    Author     : James
*/
#content{
    /*Position block*/
    margin: 0 auto;
    background-color: #FFFFFF;
    margin-top: 2.5%;
    text-align: center;
    width: 40%;
    display: block;
    overflow: auto;
}
#content h1 {
    border-bottom: solid 1px #aaa;
}
#content .section h2{
    padding-top: .75em;
    margin-bottom: .75em;
    padding: 4px;
    border-bottom: solid 1px #aaa;
}
#content label {
    float:left;
    width: 50%
}
#content input[type=text],
#content input[type=date] {
    float:left;
    width: 50%;
    padding: 2px;
}

#content textarea {
    font-family: inherit;
    font-size: inherit;
    max-width: 49%;
    max-height: 75px; 
}
#content .section #actions {
    text-align: center;
    margin-top: 20px;
}


