/* 
    Created on : 07-Apr-2014, 10:32:20
    Author     : James
*/
#projDt{
    margin-top: -.5em;
    text-align:center;
    font-style: italic;
}
#dependencies{
    display:inline-block;    
    width: 100%;
}
#content input[type=checkbox]{
    float: right;
    margin-right: 25%;
}
#content #dpndNm{
    padding-right: 30px;
}


