#Set default timezone for application
setEnv TZ Europe/London
#Redirect traffic to index page for routing
RewriteEngine on
RewriteCond %{REQUEST_URI} !^/FinalYearProject/index.php
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.eot|\.svg|\.ttf|\.woff)
RewriteRule ^ FinalYearProject/index.php [L]